.reg-login {
  display: flex;
  flex-direction: row;
  background: rgba(18, 18, 18, 0.8);
  height: 100vh;
}

div.login-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../background.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
