numpy==2.0.0
pandas>=1.0.4
Flask>=1.1.2,<=2.2
Flask-Cors>=3.0.9,<=3.1
autopep8>=1.5.4,<=1.6
requests>=2.22.0,<=2.25.0
Werkzeug==2.2.0
fuzzywuzzy
flask-sqlalchemy==3.0.2
Python-dotenv
Flask-Bcrypt
flask-login
