.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.search-container {
    width: 100%;
    max-width: 600px;  
    margin: 0 auto;    
    padding-top: 20px; 
    z-index: 1;        
}

.TextField {
    width: 100%;
}

